/* body */
body {
	background-color: #333 !important;
}

/* main menu */
.menu {
	background-color: #333 !important;
	border-bottom: solid 1px #fff;
	padding-top: 5px;
	color: #feb24c !important;
}

ul {
	text-align: center;
	font-size: 13px;
	letter-spacing: 5px;
	padding-left: 0px;
}

li {
	display: inline;
	margin-right: 50px;
}

a:link, a:visited, a:active a:hover {
	text-decoration: none !important;
	color: #feb24c !important;
}

/* container */
.top-visualization {
	padding-top: 34px;
}

/* loading data */
#loading img {
	display: block;
	padding-top: 200px;
	padding-bottom: 1000px;
    margin-left: auto;
    margin-right: auto;
}