body {
	background-color: #333 !important;
}

.menu {
	background-color: #333 !important;
	border-bottom: solid 1px #fff;
	padding-top: 5px;
	color: #feb24c !important;
}

.top-chart {
	background-color: #555;
}

.content {
	padding-top: 34px;
}

.scale {
	text-transform: uppercase;
	font-size: 8px;
	letter-spacing: 2px;
}

.axis line,
.axis path {
    fill: none;
    stroke: #fff;
    shape-rendering: crispEdges;
}

.axis text {
	font-family: Armata, Helvetica, Arial, sans;
    font-size: 10px;
    fill: #fff;
}

.brush{
    fill: #474646;
    fill-opacity: .5;
    pointer-events: none;
	border: solid 1px #fff;
}

.brush rect{
	stroke: #fff;
}

#loading img {
	display: block;
	padding-top: 200px;
	padding-bottom: 1000px;
    margin-left: auto;
    margin-right: auto;
}

ul {
	text-align: center;
	font-size: 13px;
	letter-spacing: 5px;
}

li {
	display: inline;
	margin-left: 50px;
	margin-right: 50px;
	/*padding-left: 60px;*/
}

a:link, a:visited, a:active a:hover {
	text-decoration: none !important;
	color: #feb24c !important;
}