body {
	background-color: #333 !important;
}

.menu {
	background-color: #333 !important;
	border-bottom: solid 1px #fff;
	padding-top: 5px;
	color: #feb24c !important;
}

.top-chart {
	background-color: #555;
}

.content {
	padding-top: 34px;
}

.scale {
	text-transform: uppercase;
	font-size: 8px;
	letter-spacing: 2px;
}

.axis line,
.axis path {
    fill: none;
    stroke: #fff;
    shape-rendering: crispEdges;
}

.axis text {
	font-family: Armata, Helvetica, Arial, sans;
    font-size: 10px;
    fill: #fff;
}

.brush{
    fill: #474646;
    fill-opacity: .5;
    pointer-events: none;
	border: solid 1px #fff;
}

.brush rect{
	stroke: #fff;
}

#loading img {
	display: block;
	padding-top: 200px;
	padding-bottom: 1000px;
    margin-left: auto;
    margin-right: auto;
}


.bottomRow {
	height: 200px;
	/*margin-top: -150px;*/
} 


#entityInfo {
	margin-top: 10px;
	margin-left: 20px;
	margin-right: -20px;
	height: 100px;
    background-color: #555;
	border: 1px solid;
    border-radius: 0.5em;
    font-family: Armata, Helvetica, Arial, sans;
}

#entityInfo h2 {
	margin: 10px 0 0 0 !important;
	color: #feb24c;
	letter-spacing: 5px;
    font-size: 18px;
	text-align: center; 
}

#entityInfo h3 {
	color: #feb24c;
	text-align: center; 
    font-size: 13px;
}

ul {
	text-align: center;
	font-size: 13px;
	letter-spacing: 5px;
}

li {
	display: inline;
	margin-left: 50px;
	margin-right: 50px;
}

a:link, a:visited, a:active a:hover {
	text-decoration: none !important;
	color: #feb24c !important;
}

.node {
	stroke: #fff;
	stroke-width: 1.5px;
}

.link {
	stroke: #999;
	stroke-opacity: .6;
}

#viz{
	padding: 20px;
}

.supp {
	padding: 20px;
}
