#title {
	z-index: 100;
	position: absolute;
	text-align: center;
	color: white;
	font-size: 25px;
	font-weight: bold;
	top: 70px;
	text-shadow: 1px 1px #feb24c;
}
#how-it-works {
	letter-spacing: 5px;
	color: #00a859;
	font-weight: bold;
	text-align: center;
	text-shadow: 1px 1px #feb24c;
}
.flag {
	height: 20px;
}